<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>AutoCheck</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{/css/login.css}" />

</head>
<body>

<div class="login-page">
    <div class="headline-wrapper">
        <h1 class="headline">AutoCheck Service Manager</h1>
        <p>Making auto management easier and better</p>
        <img class="home-image" th:src="@{/images/vehicle.svg}" alt="vehicle">
    </div>
    <div class="form">
        <form class="login-form" action="#" th:action="@{/login}" th:object="${staff}" method="post">
            <input type="email" name="email" placeholder="email" required="required"/>
            <input type="password" name="password" placeholder="password" required="required"/>
            <button type="submit">login</button>
        </form>
    </div>
</div>

<footer class="container">
    <p>&copy; AutoCheck 2021</p>
</footer>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/login.js}"></script>

</body>
</html>